<div class='container-fluid'>
  <div class='navbar-header'>
    <button class='button navbar-toggle collapsed' data-toggle='collapse' data-target='#secondary-navigation'>
      <span class='sr-only'><%= t('admin.toggle_navigation') %></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <a href='<%= dashboard_path %>' class='logo-wrapper'>
      <% if GlobalSetting.instance.logo.present? %>
        <%= image_tag(Rails.application.routes.url_helpers.rails_blob_url(GlobalSetting.instance.logo), height: '40px') %>
      <% else %>
        <%= image_tag('logo.png', height: '40px') %>
      <% end %>
    </a>
  </div>
  <div id='secondary-navigation' class='collapse navbar-collapse'>
    <%= render partial: 'layouts/rails_admin/secondary_navigation' %>
  </div>
</div>